.BuildControls {
    background-color: #cf8f2e;
    width:100%;
    display:flex;
    flex-flow:column;
    align-items: center; /*//align text in the center*/
    box-shadow: 0 2px 1px #ccc;
    margin:auto;
    padding: 10px 0; /* 10 px left to right for text to be centered*/
}


